[Unit]
Description=Daemon File for Local Server
After=network.target multi-user.target

[Service]
User=ovida
WorkingDirectory=/home/ovida/Desktop
ExecStart=/usr/bin/npm run start
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=localserver

[Install]
WantedBy=multi-user.target

