# Backend
server/node_modules
server/.env
server/*.local
server/backend/uploads

# Frontend
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Local Backend
server/node_modules
server/.env
server/*.local
server/backend/uploads
